*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    background:
    linear-gradient(
        135deg,
        #111,
        #242424
    );

    color:white;

    font-family:Arial, sans-serif;

}



.container{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:20px;

}



.logo{

    font-size:70px;

    font-weight:bold;

    color:#ff9800;

    margin-bottom:15px;

    text-shadow:
    0 0 20px #ff9800;

}



.slogan{

    font-size:22px;

    color:#ddd;

    margin-bottom:50px;

    text-align:center;

}



.btn{

    width:90%;

    max-width:350px;

    padding:18px;

    margin:10px;


    border:none;

    border-radius:30px;


    background:#ff9800;

    color:#111;


    font-size:22px;

    font-weight:bold;


    cursor:pointer;


    transition:0.3s;

}



.btn:hover{

    transform:scale(1.05);

    background:#ffc107;

}
