*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    background:
    linear-gradient(
        135deg,
        #111,
        #242424
    );

    color:white;

    font-family:Arial, sans-serif;

}



/* الحاوية */

.container{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:flex-start;

    padding:20px;

}



/* الشعار */

.logo{

    font-size:70px;

    font-weight:bold;

    color:#ff9800;

    margin-bottom:15px;

    text-shadow:
    0 0 20px #ff9800;

}



/* النص */

.slogan{

    font-size:22px;

    color:#ddd;

    margin-bottom:40px;

    text-align:center;

}



/* الأزرار */

.btn{

    width:90%;

    max-width:350px;

    padding:18px;

    margin:10px;

    border:none;

    border-radius:30px;

    background:#ff9800;

    color:#111;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}



.btn:hover{

    transform:scale(1.05);

    background:#ffc107;

}



/* الإدخال */

.input{

    width:90%;

    max-width:350px;

    padding:15px;

    margin:10px;

    border:none;

    border-radius:25px;

    font-size:18px;

    outline:none;

}



/* اللاعبين */

#players{

    width:90%;

    max-width:350px;

    background:#1b1b1b;

    border-radius:15px;

    padding:15px;

    margin:10px;

    line-height:35px;

    text-align:right;

}



/* معلومات الغرفة */

#roomCode,
#playerCount,
#waitingMessage{

    margin:10px;

    text-align:center;

}



/* اختيار اللعبة */

#hostControls{

    width:100%;

    display:none;

    text-align:center;

}





/* ===== الدردشة ===== */


.chat-container{

    width:90%;

    max-width:400px;

    margin-top:20px;

}



.chat-container h3{

    text-align:center;

}





.messages{

    height:280px;

    overflow-y:auto;

    background:#1b1b1b;

    border-radius:20px;

    padding:15px;

    border:1px solid #333;

}





.message{

    background:#ff9800;

    color:#111;

    padding:12px;

    border-radius:18px;

    margin-bottom:10px;

    word-break:break-word;

    text-align:right;

}





.chat-input{

    display:flex;

    align-items:center;

    width:100%;

    gap:8px;

    margin-top:10px;

}



.chat-input .input{

    flex:1;

    width:auto;

    margin:0;

}



.chat-input .btn{

    width:65px;

    margin:0;

    padding:12px;

}



/* شريط تمرير الدردشة */

.messages::-webkit-scrollbar{

    width:6px;

}



.messages::-webkit-scrollbar-thumb{

    background:#ff9800;

    border-radius:10px;

}
